main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cell {
    width: 50px;
    height: 50px;
}

.row {
    display: flex;
}

.wall {
    border: 1px solid black;
    background: rebeccapurple;
}

.empty {
    background: white;
    border: 1px solid black;
}

.start {
    background: green;
    border: 1px solid black;
}

.finish {
    background: red;
    border: 1px solid;
}

#player {
    background-color: black;
    width: 42px;
    height: 42px;
    margin: 4px;
}